@charset "UTF-8";

/*Обнуление*/

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
  margin: 0;
}

p {
  margin: 0;
}

/*--------------------*/

.tel__num {
  font-family: 'Montserrat';
  font-weight: 500;
}

body {
  font-family: 'Montserrat';
  font-weight: 400;
}

@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: url("../fonts/Montserrat-Regular.woff") format("woff"), url("../fonts/Montserrat-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: Regular;
}

@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: url("../fonts/Montserrat-Medium.woff") format("woff"), url("../fonts/Montserrat-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: Medium;
}

@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: url("../fonts/Montserrat-SemiBold.woff") format("woff"), url("../fonts/Montserrat-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: SemiBold;
}

@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: url("../fonts/Montserrat-Bold.woff") format("woff"), url("../fonts/Montserrat-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: Bold;
}

.tel__num {
  font-family: 'Montserrat';
  font-weight: 500;
}

body {
  font-family: 'Montserrat';
  font-weight: 400;
}

body {
  font-size: 16px;
  font-weight: 22px;
  color: #303030;
}

section {
  padding: 100px 0;
}

.container {
  width: 100%;
  max-width: 1230px;
  padding: 0 15px;
  margin: 0 auto;
}

.container--lg {
  width: 100%;
  max-width: 1720px;
  margin: 0 auto;
}

.tel {
  text-align: right;
}

.tel__num {
  font-size: 20px;
  color: #303030;
  position: relative;
  -webkit-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
}

.tel__num:hover {
  color: #7EB252;
}

.tel__num:before {
  content: '';
  position: absolute;
  width: 15px;
  height: 15px;
  top: 4px;
  left: -26px;
  background: url(../img/icons/phone.svg) center/cover no-repeat;
}

.tel__text {
  font-size: 12px;
  line-height: 18px;
  color: #9A9A9A;
}

.title {
  font-size: 40px;
  line-height: 50px;
  font-weight: 700;
}

.btn {
  background: #7EB252;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  font-size: 14px;
  line-height: 22px;
  font-weight: 700;
  cursor: pointer;
}

.btn span {
  position: relative;
}

.btn span:after {
  content: '';
  position: absolute;
  width: 33px;
  display: inline-block;
  height: 13px;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  right: -50px;
  background: url("../img/icons/arrow.svg");
  z-index: 2;
}

.btn-500 {
  max-width: 500px;
  padding: 30px 15px;
}

.btn-560 {
  max-width: 560px;
  padding: 30px 15px;
}

.form__btn {
  padding: 25px 110px 23px 75px;
}

.slider {
  display: none;
}

.slider {
  margin: 0 auto;
  padding: 0 20px;
  min-width: 0;
  position: relative;
}

.slider .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.slider .slick-arrow {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 0;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background: 0;
  z-index: 10;
}

.slider .slick-arrow.slick-prev {
  left: 0;
  background: url(../img/arrow.svg) 0 0/100% no-repeat;
  -webkit-transform: rotate(180deg) translateY(50%);
      -ms-transform: rotate(180deg) translateY(50%);
          transform: rotate(180deg) translateY(50%);
}

.slider .slick-arrow.slick-next {
  right: 0;
  background: url(../img/arrow.svg) 0 0/100% no-repeat;
}

.contain__item--slider {
  width: 270px;
}

.slick-list {
  overflow: hidden;
}

.header {
  padding: 30px 0 35px;
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__text {
  color: #9A9A9A;
}

.header__logo {
  margin-right: 30px;
}

.intro {
  padding-top: 0;
  position: relative;
}

.intro .container--lg {
  position: relative;
}

.intro__bg {
  position: absolute;
  z-index: 1;
  width: 100%;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  min-height: 545px;
  background: url(../img/intro/bg.jpg) top center/cover no-repeat;
}

.intro__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 145px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 98px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  position: relative;
  z-index: 10;
}

.intro__content {
  width: 585px;
}

.intro__content-text {
  color: #fff;
  margin-bottom: 78px;
}

.intro__suptitle {
  font-size: 14px;
  text-transform: uppercase;
  margin-bottom: 20px;
  font-weight: 700;
}

.intro__title {
  font-size: 60px;
  font-weight: 700;
  margin-bottom: 40px;
}

.intro__text {
  font-size: 18px;
  line-height: 24px;
}

.intro__content-form {
  padding: 20px;
  background: #fff;
}

.intro__form {
  border: 1px solid #CEDFC0;
  padding: 50px 50px 62px 50px;
  position: relative;
}

.form__title {
  font-size: 14px;
  line-height: 22px;
  text-transform: uppercase;
  width: 183px;
  font-weight: 700;
  margin-bottom: 40px;
}

.form__inline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 57px;
}

.form__input {
  width: 200px;
  border-bottom: 1px solid #CDDCBC;
  padding-bottom: 10px;
}

.form__input::-webkit-input-placeholder {
  color: #A4C58C;
}

.form__input::-moz-placeholder {
  color: #A4C58C;
}

.form__input:-ms-input-placeholder {
  color: #A4C58C;
}

.form__input::-ms-input-placeholder {
  color: #A4C58C;
}

.form__input::placeholder {
  color: #A4C58C;
}

.intro__btn {
  position: absolute;
  bottom: 0;
  right: 0;
}

.data {
  padding: 100px 0;
}

.data__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 -45px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.data__item {
  -ms-flex-preferred-size: 315px;
      flex-basis: 315px;
  padding: 0 30px 0 85px;
}

.data__num {
  display: inline-block;
  color: #A4C58C;
  font-size: 30px;
  border-bottom: 3px solid #A4C58C;
  padding-bottom: 5px;
  font-weight: 700;
  position: relative;
  margin-bottom: 20px;
}

.data__num span {
  font-size: 18px;
}

.data__num:before {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  top: -37px;
  left: -35px;
  border: 5px solid #E4EDDC;
  border-radius: 50%;
}

.data__text {
  line-height: 24px;
}

.problems .container--lg {
  background-color: #F6F9F3;
}

.problems__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 30px;
  margin-bottom: 20px;
}

.problems__item-1 {
  padding-top: 45px;
  -ms-flex-preferred-size: 685px;
      flex-basis: 685px;
  padding: 0 15px;
}

.problems__title {
  max-width: 450px;
  margin-bottom: 50px;
}

.problems__list-item--col {
  padding: 28px 0;
  font-size: 14px;
  line-height: 20px;
  font-weight: 600;
  text-transform: uppercase;
  position: relative;
  cursor: pointer;
  border-bottom: 1px solid rgba(206, 223, 192, 0.4);
}

.problems__list-item--col:after {
  content: '';
  position: absolute;
  width: 11px;
  height: 16px;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 20px;
  background: url(../img/icons/arrow-right.svg) center/cover no-repeat;
  opacity: 0;
}

.problems__list-item--col:hover:after {
  opacity: 1;
}

.problems__list-item--col span {
  margin-right: 20px;
  color: #A4C58C;
}

.problems__list-item--col .text {
  color: #303030;
}

.problems__list-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.problems__list-row .problems__list-row-1 {
  -ms-flex-preferred-size: 350px;
      flex-basis: 350px;
  border-right: 1px solid rgba(206, 223, 192, 0.4);
}

.problems__list-row .problems__list-row-1 li {
  height: 78px;
}

.problems__list-row .problems__list-row-2 {
  -ms-flex-preferred-size: 300px;
      flex-basis: 300px;
}

.problems__list-row .problems__list-row-2 li {
  height: 78px;
  padding-left: 25px;
}

.problems__list-item--row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid rgba(206, 223, 192, 0.4);
  padding: 25px 0;
  max-height: 78px;
  position: relative;
  cursor: pointer;
}

.problems__list-item--row span {
  color: #A4C58C;
  font-size: 12px;
  font-weight: 700;
  margin-right: 20px;
}

.problems__list-item--row .text {
  color: #303030;
}

.problems__list-item--row:after {
  content: '';
  position: absolute;
  right: 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 11px;
  height: 16px;
  background: url(../img/icons/arrow-right.svg) center/cover no-repeat;
  opacity: 0;
}

.problems__list-item--row:hover:after {
  opacity: 1;
}

.problems__item-2 {
  -ms-flex-preferred-size: 515px;
      flex-basis: 515px;
  padding-right: 15px;
  position: relative;
}

.problems__item-2 img {
  width: 100%;
  max-width: 500px;
  position: absolute;
  bottom: 0;
}

.problems__block {
  max-width: 415px;
  padding: 15px 15px 0 15px;
  position: absolute;
  bottom: 0;
  left: 0;
  background: #F6F9F3;
}

.problems__block-wrap {
  border: 1px solid #A4C58C;
  padding: 40px 20px 30px 50px;
}

.problems__block-text {
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
}

.problems__block-read {
  font-size: 14px;
  line-height: 24px;
  color: #7EB252;
  background: #F6F9F3;
  padding: 0 10px;
  position: absolute;
  bottom: -10px;
  left: 65px;
}

.problems__block-read:hover {
  text-decoration: underline;
}

.problems__btn {
  width: 500px;
  display: block;
  margin-left: auto;
  margin-right: 15px;
}

.features {
  position: relative;
}

.features__img {
  width: 100%;
  max-width: 875px;
  height: auto;
}

.features__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.features__item-1 {
  -ms-flex-preferred-size: 875px;
      flex-basis: 875px;
  position: relative;
  margin-right: 70px;
}

.features__blog {
  position: absolute;
  z-index: 2;
  padding: 20px;
  right: 0;
  bottom: -100px;
  background: #ffffff;
}

.features__blog-text {
  border: 1px solid #CEDFC0;
  width: 600px;
}

.features__blog-text p {
  padding: 40px 72px 40px 72px;
  font-size: 16px;
  line-height: 24px;
}

.features__btn {
  width: 100%;
  display: block;
  padding: 29px 0;
}

.features__item-2 {
  -ms-flex-preferred-size: 515px;
      flex-basis: 515px;
  padding-top: 45px;
}

.features__title {
  margin-bottom: 40px;
}

.features__subtitle {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 70px;
}

.features__list-item {
  margin-bottom: 50px;
  padding-left: 44px;
  position: relative;
}

.features__list-item:last-child {
  margin-bottom: 0;
}

.features__list-item:before {
  content: '';
  position: absolute;
  width: 11px;
  height: 16px;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0;
  background: url(../img/icons/arrow-right.svg) center/cover no-repeat;
}

.story__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.story__item-1 {
  position: relative;
  width: 875px;
  margin-right: 30px;
}

.story__title {
  max-width: 570px;
  margin-right: 30px;
  margin-top: 100px;
  margin-bottom: 50px;
  margin-left: auto;
}

.story__text {
  font-size: 16px;
  line-height: 24px;
  padding: 50px 40px 50px 0;
  background: #F6F9F3;
  width: 975px;
  position: relative;
  z-index: 2;
  margin-bottom: 50px;
}

.story__text p {
  margin-bottom: 20px;
}

.story__text p:last-child {
  margin-bottom: 0;
}

.story__text-wrap {
  width: 670px;
  margin-left: auto;
}

.story__form {
  margin-left: auto;
  width: 374px;
}

.story__form-title {
  font-size: 14px;
  line-height: 22px;
  font-weight: 700;
  text-transform: uppercase;
  width: 325px;
  margin-bottom: 20px;
}

.story__input {
  margin-bottom: 30px;
}

.story__btn {
  width: 372px;
  padding: 22px 0;
}

.story__item-2 {
  margin-left: auto;
  z-index: 0;
}

.story__item-2 img {
  width: 100%;
  max-width: 775px;
}

.quote {
  padding: 100px 0;
  background: url(../img/quote/bg-1.png) left 15% no-repeat, url(../img/quote/bg-2.png) right 15% no-repeat;
}

.quote__inner {
  max-width: 770px;
  text-align: center;
  margin: 0 auto;
  padding: 55px 0;
  border-top: 3px solid #A4C58C;
  border-bottom: 3px solid #A4C58C;
}

.quote__text {
  font-size: 24px;
  line-height: 40px;
  font-weight: 700;
  margin-bottom: 40px;
}

.quote__author {
  font-size: 18px;
  line-height: 30px;
}

.quote__author span {
  color: #9A9A9A;
}

.benefits {
  position: relative;
  padding-bottom: 200px;
  overflow: hidden;
}

.benefits__title {
  max-width: 537px;
  margin-bottom: 40px;
  margin-left: -80px;
}

.benefits__wrapper {
  max-width: 1014px;
  margin: 0 auto;
}

.benefits__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  margin: 0 auto -10px;
  padding: 10px;
  background: #fff;
  z-index: 10;
  position: relative;
}

.benefits__item {
  width: 33.3333%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 80px 0;
  margin: 0 10px;
  border: 1px solid rgba(206, 223, 192, 0.7);
}

.benefits__item-1 {
  background: url(../img/benefits/ben-bg-1.png) center 62px no-repeat;
}

.benefits__item-2 {
  background: url(../img/benefits/ben-bg-2.png) center 62px no-repeat;
}

.benefits__item-3 {
  background: url(../img/benefits/ben-bg-3.png) center 62px no-repeat;
}

.benefits__img {
  margin-bottom: 40px;
  height: 88px;
}

.benefits__text {
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
}

.benefits-bg {
  width: 100%;
  max-width: 1720px;
  height: 377px;
  margin: 0 auto;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  background: #F6F9F3;
  position: absolute;
  bottom: 70px;
  z-index: 0;
}

.contain__inner {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
}

.contain__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 30px;
  width: 100%;
}

.contain__list:last-child {
  margin-bottom: 0;
}

.contain__item {
  padding: 15px 14px;
  background: #F6F9F3;
  width: 25%;
  -ms-flex-preferred-size: 270px;
      flex-basis: 270px;
  height: 270px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.contain__item:hover .contain__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contain__item-bg {
  background: #F6F9F3 url(../img/contain/bg.png) center no-repeat;
}

.contain__item.six,
.contain__item.ten,
.contain__item.eleven {
  margin-right: 0;
}

.contain__num,
.contain__name {
  display: inline-block;
  color: #A4C58C;
  overflow: hidden;
  width: 17px;
  line-height: 24px;
}

.contain__num span,
.contain__name span {
  font-size: 14px;
  display: inline-block;
  white-space: nowrap;
  -webkit-transform: translate(0, 100%) rotate(-90deg);
      -ms-transform: translate(0, 100%) rotate(-90deg);
          transform: translate(0, 100%) rotate(-90deg);
  -webkit-transform-origin: 0 0;
      -ms-transform-origin: 0 0;
          transform-origin: 0 0;
}

.contain__num span:after,
.contain__name span:after {
  content: '';
  float: left;
  margin-top: 100%;
}

.contain__num {
  -ms-flex-item-align: start;
      align-self: flex-start;
  position: relative;
  overflow: visible;
  font-weight: 700;
}

.contain__num:before {
  content: '';
  width: 1px;
  height: 15px;
  background: #A4C58C;
  position: absolute;
  left: 11px;
  bottom: -20px;
}

.contain__img {
  -ms-flex-item-align: center;
      align-self: center;
  padding-top: 15px;
  width: 100%;
  max-width: 200px;
  height: auto;
}

.contain__name {
  position: relative;
}

.contain__name span {
  position: absolute;
  bottom: 0;
}

.contain__block {
  display: none;
  padding: 0 10px;
  text-align: center;
  font-weight: 700;
  color: #fff;
  position: absolute;
  background: -o-radial-gradient(100px 70px, circle closest-corner, rgba(182, 209, 154, 0.8), rgba(128, 168, 79, 0.9));
  background: radial-gradient(circle closest-corner at 100px 70px, rgba(182, 209, 154, 0.8), rgba(128, 168, 79, 0.9));
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contain__title-block {
  margin-top: -50px;
  width: 50%;
  -ms-flex-preferred-size: 570px;
      flex-basis: 570px;
  padding-left: 50px;
}

.contain__title-block--top {
  display: none;
}

.contain__title {
  margin-bottom: 55px;
}

.contain__title span {
  padding-left: 23px;
}

.contain__title-list {
  padding-left: 20px;
}

.contain__title-item {
  padding-left: 18px;
  margin-bottom: 40px;
  position: relative;
  font-size: 16px;
  line-height: 22px;
}

.contain__title-item:last-child {
  margin-bottom: 0;
}

.contain__title-item:before {
  content: '';
  width: 7px;
  height: 7px;
  background: #A4C58C;
  position: absolute;
  left: 0;
  border-radius: 50%;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.contain__desc {
  width: 75%;
  -ms-flex-preferred-size: 870px;
      flex-basis: 870px;
  padding: 18px;
  margin-right: 30px;
}

.contain__desc-inner {
  border: 1px solid #A4C58C;
  padding: 50px 90px 77px 55px;
  position: relative;
}

.contain__desc-text {
  font-size: 16px;
  line-height: 22px;
  position: relative;
  padding-left: 25px;
}

.contain__desc-text:before {
  content: '';
  width: 7px;
  height: 7px;
  background: #A4C58C;
  position: absolute;
  left: 0;
  border-radius: 50%;
  top: 15px;
}

.contain__desc-text p {
  margin-bottom: 20px;
}

.contain__text-spec {
  font-size: 14px;
  line-height: 22px;
  text-transform: uppercase;
  font-weight: 700;
  margin-top: 95px;
  -webkit-transform: translateX(-25%);
      -ms-transform: translateX(-25%);
          transform: translateX(-25%);
}

.contain__btn {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 18px 90px;
}

.review__title {
  margin-bottom: 55px;
}

.review__tab {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.tab__item {
  text-transform: uppercase;
  color: #c3c3c3;
  font-weight: 700;
  padding: 26px 0;
}

.tab__item-inner {
  width: 430px;
  cursor: pointer;
}

.tab__item span {
  -webkit-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
}

.tab__item span:hover {
  color: #7EB252;
}

.tab__item--rus {
  -ms-flex-preferred-size: 675px;
      flex-basis: 675px;
  text-align: right;
  padding-right: 45px;
  margin-left: -260px;
}

.tab__item--foreg {
  padding-left: 65px;
  padding-right: 65px;
}

.tab__item.active {
  background: #F6F9F3;
  color: #7EB252;
}

.review__wrap {
  background: #F6F9F3;
}

.review__inner {
  padding: 75px 85px 50px;
  margin-bottom: 40px;
  display: none;
}

.review__inner-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 50px;
}

.review__inner-wrap:last-child {
  margin-bottom: 0;
}

.review__inner.active {
  display: block;
}

.review__inner.faded {
  opacity: 0;
  -webkit-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
}

.review__inner.faded.in {
  opacity: 1;
}

.review__item {
  width: 50%;
  max-width: 465px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.review__text {
  font-size: 16px;
  line-height: 22px;
  color: #9A9A9A;
  margin-bottom: 10px;
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1 1;
          flex: 1 1;
}

.review__text:before {
  content: '';
  position: absolute;
  width: 30px;
  height: 2px;
  background: #7EB252;
  top: -15px;
}

.review__author {
  font-size: 16px;
  line-height: 36px;
  font-weight: 700;
}

.review__read {
  width: 100%;
  max-width: 812px;
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.review__link {
  color: #7EB252;
  font-size: 14px;
  line-height: 24px;
  text-decoration: underline;
  font-weight: 700;
  margin-right: 50px;
}

.review__link:hover {
  text-decoration: none;
}

.review__btn {
  display: block;
  padding: 18px 32px;
}

.part__wrap {
  padding: 60px 0;
  background: url(../img/part/part.jpg) center left no-repeat;
}

.part__inner {
  max-width: 685px;
  margin-left: auto;
  padding: 20px;
  background: #fff;
}

.part__inner-wrap {
  border: 1px solid #A4C58C;
  padding: 70px 45px 70px 60px;
}

.part__title {
  margin-bottom: 50px;
}

.part__text {
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 40px;
}

.part__text p {
  margin-bottom: 20px;
}

.part__text p:last-child {
  margin-bottom: 0;
}

.part__sub-text {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 65px;
}

.part__btn {
  padding: 18px 34px;
}

.quality {
  position: relative;
  padding-bottom: 0;
}

.quality__wrap {
  background-color: #F6F9F3;
  position: absolute;
  bottom: 5px;
  height: 562px;
  width: 100%;
  max-width: 1720px;
  z-index: 0;
}

.quality__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 0px 30px 90px 0px;
  position: relative;
  z-index: 10;
}

.quality__side-1 {
  padding-top: 100px;
  padding-left: 70px;
  -ms-flex-preferred-size: 645px;
      flex-basis: 645px;
}

.quality__title {
  margin-bottom: 90px;
  margin-left: -70px;
}

.quality__text {
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 35px;
}

.quality__block {
  padding: 20px;
  background: #fff;
}

.quality__block-inner {
  border: 1px solid #A4C58C;
  padding: 50px 50px 85px 50px;
  position: relative;
}

.quality__block-text {
  line-height: 22px;
}

.quality__block-text p {
  margin-bottom: 20px;
}

.quality__btn {
  padding: 18px 62px;
  position: absolute;
  bottom: 0;
  right: 0;
}

.quality__img {
  width: 100%;
  max-width: 416px;
}

.footer {
  padding: 30px 0;
}

.footer__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.list__item {
  font-size: 12px;
  margin-right: 40px;
}

.list__item:last-child {
  margin-right: 0;
}

.list__item a {
  color: #9A9A9A;
  text-decoration: underline;
}

.list__item a:hover {
  text-decoration: none;
}

@media (max-width: 1499px) {
  .story__inner {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .story__text {
    left: -40px;
  }

  .story__form {
    margin: 0 auto;
  }

  .quote {
    background: url(../img/quote/bg-1.png) -20% 15% no-repeat, url(../img/quote/bg-2.png) 120% 15% no-repeat;
  }

  .benefits__title {
    margin-left: 0;
  }
}

@media (max-width: 1275px) {
  .story__inner {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }

  .story__item-1 {
    width: 60%;
    margin-right: 20px;
    padding: 20px;
  }

  .story__item-2 {
    width: 40%;
  }

  .story__text {
    width: 775px;
    left: 0;
    padding: 30px;
    padding-left: 50px;
  }

  .story__title {
    margin-top: 0;
    margin-right: 0;
  }

  .story__form {
    width: 500px;
    margin-right: 0;
  }

  .story__form-title {
    width: 100%;
    margin-right: 0;
  }

  .story__input {
    width: 100%;
  }

  .story__btn {
    width: 100%;
  }

  .quote {
    background: url(../img/quote/bg-1.png) -25% 15% no-repeat, url(../img/quote/bg-2.png) 125% 15% no-repeat;
  }

  .benefits__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 1005px;
    margin: 0 auto;
  }

  .benefits__title {
    margin-right: 0;
    margin-left: 0;
  }

  .contain__inner {
    position: relative;
    margin-right: 0;
  }

  .contain__title-block {
    display: none;
  }

  .contain__title-block--top {
    display: block;
    margin-bottom: 80px;
    width: 100%;
  }

  .contain__list-1 {
    width: 570px;
    margin: 0 auto 30px;
  }
}

@media (max-width: 1252px) {
  .problems__list-item--col,
  .problems__list-item--row {
    padding: 25px 0;
  }

  .problems__list-item--col:after,
  .problems__list-item--row:after {
    display: none;
  }

  .problems__list-item--row {
    font-size: 14px;
    font-weight: 400;
  }

  .problems__list-item--row span {
    font-size: 14px;
  }

  .problems__list-row {
    font-size: 14px;
    line-height: 20px;
    font-weight: 600;
    text-transform: uppercase;
  }

  .problems__list-row-2,
  .problems__list-row-1 {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }

  .problems__list-row .problems__list-row-1 {
    border-right: 0;
  }

  .problems__list-row .problems__list-row-2 li,
  .problems__list-row .problems__list-row-1 li {
    height: auto;
    padding-left: 0px;
  }
}

@media (max-width: 1225px) {
  .data__inner {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0;
    padding: 0 140px 0 180px;
  }

  .data__item {
    padding: 0 10px 0 35px;
  }

  .data__item-flex {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 50%;
            flex: 1 1 50%;
  }

  .data__item:nth-child(1),
  .data__item:nth-child(2) {
    margin-bottom: 80px;
  }

  .data__text {
    max-width: 200px;
  }
}

@media (max-width: 1200px) {
  .features__item-1 {
    margin-right: 40px;
  }

  .features__blog {
    position: static;
    margin-right: 0;
    width: 100%;
  }

  .features__blog-text {
    width: 100%;
    margin-right: 0;
  }

  .contain__list-1 {
    margin-bottom: 0;
  }

  .contain__list-1,
  .contain__list-2,
  .contain__list-3 {
    width: 100%;
    max-width: 570px;
    margin: 0 auto;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .contain__title-block {
    top: -13%;
  }

  .contain__item {
    width: 50%;
    margin-bottom: 30px;
  }

  .contain__desc {
    margin-right: 0;
  }

  .contain__desc-inner {
    padding: 30px 70px 57px 35px;
  }

  .contain__list-4 .contain__item {
    margin-bottom: 0;
  }

  .contain__desc {
    padding-bottom: 0;
  }

  .review__inner {
    padding: 75px 45px 50px;
  }

  .review__item:nth-child(odd) {
    margin-right: 30px;
  }
}

@media (max-width: 1180px) {
  .intro__inner {
    padding: 50px 30px 0;
  }

  .intro__img {
    margin-right: 30px;
  }

  .quote {
    background: url(../img/quote/bg-1.png) -40% 15% no-repeat, url(../img/quote/bg-2.png) 140% 15% no-repeat;
  }
}

@media (max-width: 1165px) {
  .problems__item-2 img {
    top: 0;
  }

  .contain__title-block {
    top: -15%;
  }

  .review__btn {
    width: 100%;
  }

  .quality__side-1 {
    padding-left: 40px;
    margin-right: 30px;
  }

  .quality__title {
    margin-left: 0;
  }
}

@media (max-width: 1120px) {
  section {
    padding: 60px 0;
  }

  .data__inner {
    padding: 0 40px 0 80px;
  }
}

@media (max-width: 1094px) {
  .footer {
    margin-top: 30px;
  }

  .list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .list__item {
    margin-right: 0;
    margin-bottom: 20px;
  }

  .list__item:last-child {
    margin-bottom: 0;
  }
}

@media (max-width: 1090px) {
  .features__item-2 {
    padding-top: 0;
  }

  .features__title {
    font-size: 35px;
    line-height: 45px;
  }

  .story__item-1 {
    padding-top: 0;
  }

  .story__text {
    left: 0;
  }

  .quote {
    background: url(../img/quote/bg-1.png) -60% 15% no-repeat, url(../img/quote/bg-2.png) 160% 15% no-repeat;
  }

  .review__item {
    width: 50%;
    max-width: 405px;
  }

  .quality__title {
    margin-bottom: 40px;
  }

  .quality__wrap {
    height: 462px;
    bottom: -20px;
  }
}

@media (max-width: 1000px) {
  .slider {
    display: block;
  }

  .contain__inner-wrap {
    display: none;
  }

  .contain__title-block--top {
    display: block;
  }
}

@media (max-width: 980px) {
  .slider {
    padding-top: 40px;
  }

  .slider .slick-arrow.slick-prev {
    left: 42%;
  }

  .slider .slick-arrow.slick-next {
    right: 42%;
  }

  .slider .slick-arrow {
    top: -20px;
  }
}

@media (max-width: 972px) {
  .intro__form {
    padding: 30px 30px 42px 30px;
  }

  .features__blog {
    padding: 0;
  }

  .features__blog-text p {
    padding: 30px;
  }

  .story__text {
    padding: 30px;
  }

  .quote {
    background: url(../img/quote/bg-1.png) -60% 15% no-repeat;
  }

  .benefits__inner {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .benefits__item {
    width: 100%;
    max-width: 313px;
  }

  .benefits__item:nth-child(3) {
    margin-top: 20px;
  }

  .review__inner {
    padding-bottom: 0;
  }

  .review__inner-wrap {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 0;
  }

  .review__item {
    width: 100%;
    max-width: 556px;
    margin-bottom: 60px;
  }

  .review__item:nth-child(odd) {
    margin-right: 0;
  }
}

@media (max-width: 940px) {
  .slider {
    width: 80%;
    padding: 0;
    padding-top: 30px;
  }
}

@media (max-width: 935px) {
  .intro__inner {
    padding-top: 58px;
  }

  .intro__content {
    width: 485px;
  }

  .intro__content-text {
    margin-bottom: 50px;
  }

  .form__inline {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .form__input {
    width: 100%;
    margin-bottom: 30px;
  }

  .form__input:last-child {
    margin-bottom: 0;
  }

  .form__input .benefits__inner {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .features__title {
    font-size: 30px;
  }

  .features__subtitle {
    margin-bottom: 45px;
  }

  .features__list-item {
    margin-bottom: 40px;
  }

  .story__inner {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .story__title {
    text-align: center;
    margin: 0 auto 40px;
  }

  .story__item-1 {
    width: 100%;
    margin-right: 0;
  }

  .story__item-2 {
    display: none;
  }

  .story__text {
    width: 100%;
  }

  .story__text-wrap {
    margin: 0;
    width: 100%;
  }

  .story__text-wrap p {
    width: 100%;
  }

  .story__form {
    width: 70%;
    margin: 0 auto;
  }

  .review__title {
    padding-left: 20px;
  }

  .quality__wrap {
    bottom: 0;
    height: 900px;
  }

  .quality__title {
    width: 100%;
  }

  .quality__inner {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 30px;
    padding-top: 0;
  }

  .quality__side-1 {
    margin-right: 0;
    padding-top: 0;
    padding-left: 0;
    margin-bottom: 40px;
  }

  .quality__block {
    padding: 0;
  }
}

@media (max-width: 880px) {
  .review .container {
    padding: 0;
  }

  .tab__item {
    width: 50%;
  }

  .tab__item--foreg,
  .tab__item--rus {
    padding: 20px 20px;
    -ms-flex-preferred-size: 450px;
        flex-basis: 450px;
    text-align: center;
  }

  .tab__item-inner {
    width: 100%;
  }

  .tab__item--rus {
    margin-left: 0;
    text-align: center;
  }
}

@media (max-width: 870px) {
  .intro__btn {
    right: 50%;
    -webkit-transform: translateX(50%);
        -ms-transform: translateX(50%);
            transform: translateX(50%);
  }
}

@media (max-width: 840px) {
  .features {
    padding-top: 120px;
    position: relative;
  }

  .features__inner {
    padding: 0px 20px;
    margin-top: 70px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .features__title {
    position: absolute;
    top: 80px;
    left: 0px;
    margin-bottom: 0;
    font-size: 35px;
    line-height: 40px;
    text-align: center;
  }

  .quote {
    padding: 70px 0;
  }

  .quote__inner {
    width: 90%;
  }

  .contain__list-4 {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }

  .contain__list-4 .contain__item {
    margin-bottom: 0;
  }

  .contain__desc {
    padding: 0;
    margin-right: 20px;
  }

  .contain__desc-inner {
    padding: 20px 60px 47px 25px;
  }

  .quality__side-1 {
    padding-left: 20px;
  }
}

@media (max-width: 800px) {
  .data__inner {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0 30px 0 70px;
  }

  .problems__item-1 {
    padding-left: 0;
    padding-right: 30px;
  }

  .problems__block {
    padding: 0;
  }

  .problems__block-wrap {
    padding: 20px;
  }
}

@media (max-width: 765px) {
  .problems__list-item--col {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .data__inner {
    padding: 0 110px 0 200px;
  }

  .data__item {
    padding: 0;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    margin-bottom: 80px;
  }

  .data__item:nth-child(even) {
    margin-left: 200px;
  }

  .data__item:last-child {
    margin-bottom: 0;
  }

  .data__text {
    max-width: 270px;
  }

  .features__list-item {
    padding-left: 24px;
  }

  .features__btn {
    padding: 18px 40px;
  }

  .review__read {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 auto;
    padding: 0 20px;
  }

  .review__link {
    margin-right: 0;
    margin-bottom: 40px;
  }

  .review__btn {
    max-width: 600px;
  }

  .quality__inner {
    padding: 0;
  }

  .quality__side-1 {
    padding-left: 0;
  }

  .footer__logo {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }

  .list {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }

  .footer__tel {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

@media (max-width: 750px) {
  .slider {
    width: 100%;
    padding: 0;
    padding-top: 30px;
  }
}

@media (max-width: 730px) {
  .intro__img {
    width: 100%;
    max-width: 170px;
    position: absolute;
    top: 42%;
    left: 60px;
  }

  .intro__content {
    width: 100%;
  }

  .intro__content-text {
    margin-bottom: 80px;
  }

  .intro__content-form {
    width: 400px;
    margin-left: auto;
  }

  .benefits__item {
    margin-bottom: 20px;
  }

  .benefits__item:last-child {
    margin-bottom: 0;
    margin-top: 0;
  }

  .tab__item {
    font-size: 14px;
    line-height: 20px;
  }

  .part__inner-wrap {
    padding: 50px 25px 50px 40px;
  }

  .footer__logo {
    margin-top: -30px;
  }

  .footer__inner {
    position: relative;
  }

  .footer__tel {
    position: absolute;
    bottom: 0;
    left: 25px;
  }
}

@media (max-width: 700px) {
  section {
    padding: 70px 0;
  }

  .header__left {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .header__logo {
    margin-bottom: 20px;
  }

  .intro__img {
    display: none;
  }

  .intro__content-text {
    margin-bottom: 40px;
  }

  .intro__content-form {
    width: 100%;
    margin-left: 0;
  }

  .form__title {
    width: 100%;
    text-align: center;
  }

  .data {
    padding: 70px 0;
  }

  .data__inner {
    padding: 0 50px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .data__item {
    text-align: center;
    padding: 0;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    margin-bottom: 80px;
  }

  .data__item:nth-child(even) {
    margin-left: 0px;
  }

  .data__text {
    max-width: 270px;
    margin: 0 auto;
  }

  .problems__item-2 img {
    top: 40%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
  }

  .problems__btn {
    margin: 0 auto;
  }

  .quote {
    background: url(../img/quote/bg-1.png) left 8% no-repeat;
  }

  .benefits__title {
    text-align: center;
    margin: 0 auto 30px;
  }

  .contain__item {
    width: 100%;
  }
}

@media (max-width: 675px) {
  .problems__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .problems__item-1,
  .problems__item-2 {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }

  .problems__item-1 {
    margin-bottom: 50px;
    padding-right: 0;
  }

  .problems__list-item--col span,
  .problems__list-item--row span {
    margin-right: 40px;
  }

  .contain__title-block {
    top: -10%;
    padding-left: 0;
  }

  .problems__block {
    position: static;
    margin: 0 auto;
  }

  .problems__block-wrap {
    padding-bottom: 40px;
  }

  .problems__block-read {
    font-size: 18px;
  }

  .problems__item-2 {
    padding-right: 0;
  }

  .problems__item-2 img {
    display: none;
  }

  .quote__inner {
    padding: 30px 0;
  }

  .contain__list-4 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .contain__list-4 .contain__item {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    width: 100%;
  }

  .contain__desc {
    margin-right: 0;
    width: 100%;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    max-height: 280px;
    padding: 20px;
  }

  .contain__title-block {
    top: -11%;
  }

  .contain__title {
    margin-bottom: 30px;
    text-align: center;
  }

  .contain__title span {
    padding-left: 0;
  }

  .contain__title-item {
    margin-bottom: 20px;
  }

  .part__title {
    margin-bottom: 40px;
    font-size: 35px;
    line-height: 40px;
  }
}

@media (max-width: 665px) {
  .features__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .features__item-1,
  .features__item-2 {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }

  .features__item-1 {
    margin-right: 0;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }

  .features__item-2 {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin: 40px 0 60px;
  }

  .features__subtitle {
    font-size: 20px;
    text-align: center;
    line-height: 40px;
  }
}

@media (max-width: 625px) {
  .contain__title-block {
    top: -7%;
  }

  .contain__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .contain__item {
    width: 70%;
  }

  .review__tab {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .tab__item {
    width: 100%;
    -ms-flex-preferred-size: 624px;
        flex-basis: 624px;
  }
}

@media (max-width: 605px) {
  .slider {
    padding-top: 0;
  }

  .slider .slick-arrow.slick-prev {
    left: 0;
    -webkit-transform: rotate(180deg) translateY(50%);
        -ms-transform: rotate(180deg) translateY(50%);
            transform: rotate(180deg) translateY(50%);
  }

  .slider .slick-arrow.slick-next {
    right: 0;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
  }

  .slider .slick-arrow {
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
  }

  .contain__item--slider {
    width: 350px;
  }
}

@media (max-width: 602px) {
  .problems__list-row .problems__list-row-2 li,
  .problems__list-row .problems__list-row-1 li {
    height: 78px;
    padding-left: 0px;
  }

  .problems__list-item--col {
    height: 78px;
  }

  .review__inner {
    padding: 45px 15px 0;
  }

  .review__item {
    margin-bottom: 30px;
  }

  .review__text {
    margin-bottom: 0;
  }

  .part__inner-wrap {
    padding: 40px 15px 40px 30px;
  }

  .quality__block-inner {
    padding: 30px 30px 65px;
  }
}

@media (max-width: 560px) {
  section {
    padding: 50px 0;
  }

  .intro__inner {
    padding: 50px 10px 0;
  }

  .intro__title {
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 35px;
  }

  .intro__text {
    font-size: 18px;
    line-height: 20px;
  }

  .data {
    padding: 50px 0;
  }

  .problems__title {
    text-align: center;
    margin-bottom: 30px;
    max-width: 100%;
  }

  .problems__btn {
    width: 100%;
  }

  .features__title {
    left: 15px;
  }

  .quote__text {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 30px;
  }

  .quote__author {
    font-size: 15px;
  }

  .contain {
    padding-bottom: 100px;
  }

  .contain__desc-inner {
    padding: 30px;
    padding-bottom: 80px;
  }

  .contain__btn {
    width: 100%;
  }

  .review__title {
    text-align: center;
    padding-left: 0;
  }

  .review__btn {
    padding: 18px 20px;
  }

  .part__wrap {
    padding-top: 0;
  }

  .part__btn {
    width: 100%;
    max-width: 400px;
    padding: 18px 20px;
    display: block;
  }
}

@media (max-width: 500px) {
  .title {
    font-size: 30px;
    line-height: 40px;
  }

  .header {
    padding: 20px 0;
    text-align: center;
  }

  .header__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .header__left {
    margin-bottom: 20px;
  }

  .header__logo {
    margin-bottom: 10px;
    margin-right: 0;
  }

  .tel {
    padding-left: 20px;
    text-align: center;
  }

  .intro__btn {
    width: 100%;
  }

  .story__title {
    margin-bottom: 30px;
  }

  .story__text {
    padding: 20px;
    margin-bottom: 20px;
  }

  .contain {
    padding-bottom: 150px;
  }

  .review__inner {
    margin-bottom: 20px;
  }

  .review__link {
    margin-bottom: 20px;
  }

  .part__inner {
    padding: 10px;
  }

  .part__title {
    text-align: center;
  }

  .part__inner-wrap {
    padding: 20px;
  }

  .quality__btn {
    width: 100%;
  }

  .footer__tel {
    left: 10px;
  }
}

@media (max-width: 485px) {
  .footer {
    padding-top: 60px;
  }

  .footer__logo {
    margin-bottom: 30px;
  }

  .footer__tel {
    position: static;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }

  .footer__inner {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .list {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 30px;
  }
}

@media (max-width: 426px) {
  .contain__btn {
    padding-left: 20px;
    padding-right: 20px;
  }

  .review__title {
    margin-bottom: 30px;
  }

  .review__inner {
    height: 400px;
    overflow: auto;
    border: 1px solid #A4C58C;
  }

  .part__title {
    font-size: 25px;
    line-height: 30px;
  }

  .part__text {
    margin-bottom: 30px;
  }

  .part__sub-text {
    margin-bottom: 40px;
  }
}

@media (max-width: 420px) {
  .slider {
    padding-top: 0;
  }

  .slider .slick-arrow.slick-prev {
    left: 32%;
  }

  .slider .slick-arrow.slick-next {
    right: 32%;
  }

  .slider .slick-arrow {
    top: -30px;
  }

  .problems__list-row-2 li {
    height: auto;
  }

  .features__title {
    text-align: center;
    left: 0;
  }

  .story__text {
    border: 1px solid #A4C58C;
    height: 500px;
    overflow: auto;
  }
}

@media (max-width: 400px) {
  .intro__title,
  .intro__suptitle {
    text-align: center;
  }

  .intro__form {
    padding: 20px;
    padding-bottom: 40px;
  }

  .problems__list-item--col span,
  .problems__list-item--row span {
    margin-right: 20px;
  }

  .contain__desc {
    padding: 0;
    margin-top: 20px;
  }

  .contain__desc-inner {
    padding: 20px;
    padding-bottom: 60px;
  }

  .tab__item {
    font-size: 12px;
  }

  .review__title {
    font-size: 28px;
  }

  .quality__title {
    text-align: center;
  }

  .quality__text {
    font-size: 12px;
  }
}

@media (max-width: 352px) {
  .title {
    font-size: 25px;
    line-height: 30px;
  }

  .features__subtitle {
    font-size: 16px;
    margin-bottom: 30px;
  }

  .story__text {
    height: 300px;
  }
}
@supports (-webkit-appearance:none){
.tel__num:before{background:url(../img/icons/phone.svg) center/cover no-repeat}
.btn span:after{background:url("../img/icons/arrow.svg")}
.slider .slick-arrow.slick-prev{background:url(../img/arrow.svg) 0 0/100% no-repeat}
.slider .slick-arrow.slick-next{background:url(../img/arrow.svg) 0 0/100% no-repeat}
.intro__bg{background:url(../img/intro/bg.webp) top center/cover no-repeat}
.problems__list-item--col:after{background:url(../img/icons/arrow-right.svg) center/cover no-repeat}
.problems__list-item--row:after{background:url(../img/icons/arrow-right.svg) center/cover no-repeat}
.features__list-item:before{background:url(../img/icons/arrow-right.svg) center/cover no-repeat}
.quote{background:url(../img/quote/bg-1.webp) left 15% no-repeat, url(../img/quote/bg-2.png) right 15% no-repeat}
.benefits__item-1{background:url(../img/benefits/ben-bg-1.webp) center 62px no-repeat}
.benefits__item-2{background:url(../img/benefits/ben-bg-2.webp) center 62px no-repeat}
.benefits__item-3{background:url(../img/benefits/ben-bg-3.webp) center 62px no-repeat}
.contain__item-bg{background:#F6F9F3 url(../img/contain/bg.webp) center no-repeat}
.part__wrap{background:url(../img/part/part.webp) center left no-repeat}
}

 @media (max-width: 1499px){

@supports (-webkit-appearance:none){
.quote{background:url(../img/quote/bg-1.webp) -20% 15% no-repeat, url(../img/quote/bg-2.png) 120% 15% no-repeat}
}

}

 @media (max-width: 1275px){

@supports (-webkit-appearance:none){
.quote{background:url(../img/quote/bg-1.webp) -25% 15% no-repeat, url(../img/quote/bg-2.png) 125% 15% no-repeat}
}

}

 @media (max-width: 1252px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 1225px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 1200px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 1180px){

@supports (-webkit-appearance:none){
.quote{background:url(../img/quote/bg-1.webp) -40% 15% no-repeat, url(../img/quote/bg-2.png) 140% 15% no-repeat}
}

}

 @media (max-width: 1165px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 1120px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 1094px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 1090px){

@supports (-webkit-appearance:none){
.quote{background:url(../img/quote/bg-1.webp) -60% 15% no-repeat, url(../img/quote/bg-2.png) 160% 15% no-repeat}
}

}

 @media (max-width: 1000px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 980px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 972px){

@supports (-webkit-appearance:none){
.quote{background:url(../img/quote/bg-1.webp) -60% 15% no-repeat}
}

}

 @media (max-width: 940px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 935px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 880px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 870px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 840px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 800px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 765px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 750px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 730px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 700px){

@supports (-webkit-appearance:none){
.quote{background:url(../img/quote/bg-1.webp) left 8% no-repeat}
}

}

 @media (max-width: 675px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 665px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 625px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 605px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 602px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 560px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 500px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 485px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 426px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 420px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 400px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 352px){

@supports (-webkit-appearance:none){

}

}
