.first {
  height: 100vh;
  min-height: 600px;
  background-image: url(../img/header/bg.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: var(--white-color);
}

@media(max-width: 840px) {
  .first {
    height: auto;
  }
}

.first-container {
  position: relative;
  height: 100%;
  padding-top: 223px;
  padding-bottom: 200px;
}

@media(max-width: 1265px) {
  .first-container {
    padding-top: 180px;
    padding-bottom: 100px;
  }
}

@media(max-width: 535px) {
  .container.first-container {
    padding-top: 150px;
    padding-bottom: 70px;
  }
}

.first__link {
  text-transform: uppercase;
  font-weight: 800;
  font-size: 11px;
  letter-spacing: 2px;
  background: rgb(28,46,61, 0.4);
  padding: 17px 30px;
  border-radius: 100px;
  display: inline-block;
  transition: all .2s ease;
  margin-bottom: 42px;
}

@media(max-width: 1045px) {
  .first__link {
    margin-bottom: 72px;
  }
}

.first__link:hover {
  background: rgb(28,46,61, 0.7);
  color: var(--accent2);
}

.first__title {
  font-weight: 700;
  max-width: 40%;
  font-size: 80px;
  line-height: 84px;
  margin-bottom: 40px;
}

@media(max-width: 1265px) {
  .first__title {
    max-width: 50%;
    font-size: 60px;
    line-height: 64px;
  }
}

@media(max-width: 1045px) {
  .first__title {
    max-width: 100%;
  }
}


.first__descr {
  font-family: 'SFCompactText';
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  max-width: 32%;
  margin-bottom: 60px;
}

@media(max-width: 1265px) {
  .first__descr {
    max-width: 50%;
  }
}

@media(max-width: 1045px) {
  .first__descr {
    max-width: 100%;
    font-size: 18px;
    line-height: 24px;
  }
}

.first__btn {
  background-color: var(--accent);
  position: relative;
  z-index: 5;
}

@media(max-width: 535px) {
  .first__btn {
    width: 100%;
  }
}

.first__btn:hover {
  background-color: var(--accent-hover);
}

.first__bottom {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  width: calc(100% - 60px);
  display: flex;
  align-items: flex-end;
}

@media(max-width: 840px) {
  .first__bottom  {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: static;
    margin-top: 70px;
    transform: translateX(0%);
    width: 100%;
  }
}

.search-form {
  display: block;
  flex-shrink: 0;
  width: 68%;
  position: relative;
  overflow: hidden;
  border-top-left-radius: 4px;
  height: 120px;
}

@media(max-width: 840px) {
  .search-form {
    width: 100%;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    order: 2;
  }
}

.search-form__field {
  border: none;
  background-color: #fff;
  width: 100%;
  height: 100%;
  font-size: 20px;
  color: var(--dark-color);
  padding: 50px 95px 50px 55px;
  box-shadow: inset 0px -2px 0px rgba(223, 223, 223, 0.5);
}


@media(max-width: 840px) {
  .search-form__field {
    padding: 20px 55px 20px 25px;
    height: 80%;
  }
}

.search-form__field::placeholder {
  color: var(--dark-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}

.search-form__field:focus {
  outline: var(--accent2);
}

.search-form__btn {
  position: absolute;
  top: 50%;
  transform: translateY(-40%);
  right: 65px;
}

@media(max-width: 840px) {
  .search-form__btn {
    right: 35px;
    transform: translateY(-80%);
  }
  .search-form__field::placeholder {
    font-size: 18px;
  }
}

.search-form__btn:hover .search-form__icon {
  stroke: var(--accent2);
}

.search-form__icon {
  stroke: var(--dark-color);
  fill: transparent;
  width: 22px;
  height: 22px;
  transition: all .2s ease;
}

.main-slider {
  overflow: hidden;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  font-size: 0;
}

@media(max-width: 840px) {
  .main-slider {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
  }
  .swiper-slide_header {
    display: flex;
    flex-direction: column;
  }
}

.main-slider__text {
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--accent2);
  color: var(--white-color);
  font-weight: 800;
  font-size: 12px;
  text-align: center;
  letter-spacing: 2.2px;
  text-transform: uppercase;
}

@media(max-width: 840px) {
  .main-slider__text {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    order: 1;
  }
  .main-slider__media {
    order: 2;
    font-size: 0;
  }
}

@media(max-width: 535px) {
  .main-slider__text {
    height: 95px;
  }
}

@media(max-width: 535px) {
  .main-slider__text {
    height: 95px;
  }
}

@media(max-height: 1079px) {
  .first-container {
    padding: 120px 30px;
  }
}

@media(max-height: 880px) {
  .first-container {
    padding: 100px 30px;
  }
  .first__link {
    margin-bottom: 30px;
  }
  .first__title {
    font-size: 70px;
    line-height: 1;
  }
}

@media(max-height: 780px) {
  .search-form {
    height: 80px;
  }
  .main-slider__text {
    height: 80px;
  }
  .first__title {
    font-size: 60px;
    margin-bottom: 20px;
  }
  .first__descr {
    font-size: 12px;
    margin-bottom: 30px;
  }
  .first__btn {
    padding: 20px;
  }
}