.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}

.header-container {
  justify-content: space-between;
  align-items: center;
  padding-top: 55px;
  padding-bottom: 55px;
  background: rgba();
}

.social {
  display: flex;
  align-items: center;
}

.social__item {
  margin-right: 40px;
}

.social__item:last-child {
  margin-right: 0;
}

.social__icon {
  fill: var(--white-color);
  transition: fill .2s ease;
}

.social__icon:hover {
  fill: var(--accent);
}

.social__icon--fb {
  width: 11px;
  height: 20px;
}

.social__icon--tw {
  width: 20px;
  height: 17px;
}

.logo {
  color: var(--white-color);
  transition: color .2s ease;
  font-weight: 800;
  font-size: 22px;
  line-height: 1;
  text-align: center;
  letter-spacing: 2px;
}

.logo:hover {
  color: var(--accent);
}

.burger {
  width: 48px;
  height: 16px;
  position: relative;
  outline: none;
}

.burger__line {
  width: 100%;
  height: 2px;
  background-color: var(--white-color);
  display: block;
  position: absolute;
  right: 0;
  left: 0;
  transition: all .2s ease;
}

.burger:hover .burger__line {
  background-color: var(--accent);
}

.burger__line:nth-child(1) {
  top: 0;
}

.burger__line:nth-child(2) {
  top: 50%;
  transform: translateY(-50%);
}

.burger__line:last-child {
  bottom: 0;
}

.menu {
  position: fixed;
  left: -150vw;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background-color: var(--accent2);
  opacity: 0.9;
  transition: left .4s ease-in;
}

.menu--visible {
  left: 0;
  transition: left .4s ease-out;
}

.menu__close {
  outline: none;
}

.menu__nav {
  width: 100%;
  height: 100%;
}

.menu__list {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px 0;
  overflow-y: auto;
}

.menu__item {
  margin-bottom: 20px;
}

.menu__list a {
  font-weight: 700;
  font-size: 42px;
  color: var(--white-color);
  transition: color .2s;
}

.menu__list a:hover {
  color: var(--dark-cplor);
  transition: color .2s;
}

.menu__close {
  width: 40px;
  height: 40px;
  position: absolute;
  right: 9%;
  top: 55px;
}

.menu__close-line {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 3px;
  background-color: var(--white-color);
  transition: all .2s;
}

.menu__close:hover .menu__close-line{
  background-color: var(--accent);
  transition: all .2s;
}

.menu__close-line:first-child {
  transform-origin: 2px 5px;
  transform: rotate(45deg);
}

.menu__close-line:last-child {
  transform-origin: 35px 11px;
  transform: rotate(-45deg);
}

.main-slider__media {
  position: relative;
}

.main-slider__play {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  z-index: 100;
}

.video__icon {
  fill: transparent;
  stroke: var(--white-color);
  height: 45px;
  width: 60px;
  transition: all .2s;
}

.video__icon:hover {
  stroke: var(--accent2);
  transition: all .2s;
}

@media(max-width: 410px) {
  .social {
    position: absolute;
    top: 100px;
    left: 30px;
  }
  .social__icon--fb {
    width: 15px;
    height: 25px;
  }
  
  .social__icon--tw {
    width: 25px;
    height: 22px;
  }

  .menu__list a {
    font-size: 28px;
  }
}