@media(max-width: 1500px) {
  .featured__stories {
    padding-left: 80px;
    padding-top: 80px;
  }
}

@media(max-width: 1350px) {
  .become__text {
    padding-bottom: 34px;
    padding-left: 24px;
    font-size: 24px;
    line-height: 30px;
  }
  .featured__stories {
    width: 45%;
  }
  .featured__title {
    font-size: 44px;
    line-height: 60px;
    margin-bottom: 35px;
  }
  .slider-container {
    margin-top: 30px;
  }
  .swiper-slide {
    min-height: 500px;
    width: 790px;
  }
}

@media(max-width: 1250px) {
  .news-content {
    --news-gap: 70px;
  }
}

@media(max-width: 1200px) {
  .become {
    padding-top: 100px;
  }
  .section-title {
    font-size: 44px;
    line-height: 60px;
  }
  .become__title {
    max-width: 100%;
  }
  .become__list {
    margin-top: 55px;
  }
  .insp__item--big-height {
    height: auto;
    max-height: 500px;
  }
}

@media(max-width: 1100px) {
  .become__list {
    width: 100%;
    max-width: 870px;
    margin: 95px auto 0;
  }
  .become__item {
    flex: 0 0 47%;
  }
  .become__item:nth-child(2n) {
    margin-right: 0;
  }
  .featured__stories {
    padding-top: 40px;
    padding-left: 40px;
  }
  .featured-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70%;
  }
  .blog-article__title {
    font-weight: 700;
    font-size: 38px;
    line-height: 50px;
    max-width: 40%;
    margin-bottom: 30px;
  }
  .featured-videos {
    padding-top: 100px;
    padding-bottom: 50px;
  }
  .featured-videos__title  {
    margin-bottom: 14px;
  }
  .slider-container {
    padding: 60px 0;
  }
  .swiper-slide {
    min-height: 300px;
    width: 500px;
  }
  .slider__title {
    font-size: 24px;
    line-height: 30px;
    padding-left: 15px;
    padding-bottom: 20px;
  }
  .swiper-slide__btn {
    top: 20px;
    left: 30px;
  }
  .video-btn {
    width: 70px;
    height: 70px;
  }
  .news-content {
    padding-top: 138px;
    padding-bottom: 378px;
  }
  .news__text {
    max-width: 80%;
  }
  .news__descr {
    font-size: 20px;
    line-height: 1.25;
  }
  .insp__list {
    grid-gap: 25px;
    grid-auto-rows: minmax(450px, auto);
  }
  .insp__title {
    font-size: 26px;
    line-height: 1.25;
  }
}

@media(max-width: 985px) {
  .featured {
    padding-top: 100px;
    padding-left: 0px;
    height: auto;
    overflow-x: hidden;
    background: linear-gradient(180deg, rgba(28, 46, 59, 0.0001) 0%, #091117 100%), url(../img/featured/bg.jpg);
  }
  .featured__article {
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
  }
  .block-article__category {
    margin-bottom: 60px;
    font-size: 14px;
    padding: 20px 35px;
    text-transform: uppercase;
    margin-bottom: 50px;
    text-align: center;
    width: 70%;
  }
  .blog-article__title {
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
    max-width: 80%;
    margin-bottom: 50px;
  }
  .blog-article__text {
    font-size: 24px;
    line-height: 34px;
    margin-bottom: 70px;
    max-width: 80%;
  }
  .blog-article__link {
    width: 60%;
    font-size: 20px;
    text-align: center;
  }
  .featured__stories {
    position: absolute;
    top: 0;
    right: -100vw;
    padding-top: 100px;
    z-index: 1000;
    width: 70%;
    transition: right .4s ease-in;
    background: linear-gradient(180deg, rgba(28, 46, 59, .7) 0%, #091117 100%);
    background-color: rgba(60, 74, 81, .9);
  }
  .featured__stories--open {
    right: 0;
    transition: right .4s ease-out;
  }
  .featured-open {
    display: flex;
  }
  .featured-close {
    display: flex;
  }
  .featured__container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
  }
  .news-content {
    padding-top: 80px;
    padding-bottom: 378px;
  }
  .subscribe-form {
    width: 80%;
  }
  .news__form {
    position: absolute;
    bottom: -96px;
    right: 50%;
    transform: translateX(50%);
  }
  .insp__item--6 {
    grid-column-end: span 2;
  }
  .insp__item--big {
    grid-column-end: span 3;
  }
  .footer__inner {
    flex-wrap: wrap;
  }
  .footer__column--form {
    flex-basis: 100%;
    align-self: center;
    justify-self: center;
  }
  .footer__column--form .footer__title {
    margin: 60px 0 40px;
    display: inline-block;
  }
  .subs-form {
    width: 70%;
  }
  .footer__title {
    font-size: 14px;
  }
  .footer__link {
    font-size: 16px;
    line-height: 32px;
  }
  .footer__links {
   flex-direction: column;
  }
  .footer__links-item {
    margin-right: 0;
  }
  .footer__links-item:not(:last-child) {
    margin-bottom: 10px;
  }
  .footer__links-item a {
    font-size: 16px;
  }
}

@media(max-width: 800px) {
  .news-content {
    --news-gap: 30px;
  }
  .news__text {
    max-width: 100%;
  }
  .subscribe-form {
    width: 95%;
  }
  .subscribe-form__btn {
    font-size: 20px;
  }
  .insp__item {
    grid-column-end: span 3;
  }
  .subs-form {
    width: 100%;
  }
  .footer__bottom-inner {
    flex-direction: column-reverse;
    align-items: flex-start;
  }
  .footer__links {
    flex-direction: row;
    margin-bottom: 20px;
   }
}

@media(max-width: 700px) {
  .blog-article__title {
    max-width: 100%;
    margin-bottom: 100px;
  }
  .featured {
    padding-top: 150px;
    padding-left: 0px;
  }
  .blog-article__text {
    margin-bottom: 100px;
    max-width: 100%;
  }
  .blog-article__link {
    width: 100%;
  }
  .swiper-slide {
    width: 80%;
  }
  .footer__inner {
    flex-direction: column;
    align-items: flex-start;
  }
  .footer__column {
    margin-bottom: 20px;
    width: 100%;
  }
  .footer__column-header {
    padding: 20px 15px;
    background: rgba(115, 175, 186, 0.6);
    margin-bottom: 0;
  }
  .footer__column-header {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
  .footer__title {
    font-size: 18px;
    line-height: 1;
  }
  .footer__column-header:hover .footer__column-icon{
    fill: var(--white-color);
    transition: .3s all ease;
    transform: scale(1.3);
  } 
  .footer__column-header:hover .footer__title {
    color: var(--white-color);  
    transition: .2s color ease;
  }
  .footer__column-header.active .footer__title {
    color: var(--accent);  
    transition: .2s color ease;
  }
  .footer__column-header.active .footer__column-icon {
    transform: rotate(180deg) scale(1.3);
    fill: var(--accent);
  }
  .footer__column-icon {
    display: block;
  }
  .footer__title {
    padding-bottom: 0;
  }
  .footer__title:after {
  display: none;
  }
  .footer__list {
    display: none;
    padding: 20px;
    background-color: rgba(15, 140, 250, 0.1);
    box-shadow: 0 2px 10px rgba(1, 150, 113, 0.3);
  }
  .footer__item:not(:last-child) {
    margin-bottom: 20px;
  }
  .footer__link {
    font-size: 22px;
    color: var(--dark-color);
  }
  .footer__column--form {
    width: 100%;
  }
}

@media(max-width: 600px) {
  .become__item {
    flex: 0 0 100%;
    margin-right: 0;
  }
  .featured__stories {
    width: 100%;
  }
  .featured-list {
    max-width: 90%;
    align-items: flex-start;
  }
  .subscribe-form {
    padding-top: 26px;
  }
  .subscribe-form__field {
    padding: 45px 0 20px;
    width: calc(100% - (32px * 2));
  }
  .subscribe-form__btn {
    margin-top: 60px;
  }
}

@media(max-width: 485px) {
  .section-title {
    font-size: 34px;
    line-height: 40px;
  }
  .become {
    padding-top: 70px;
  }
  .become__list {
    align-items: center;
    justify-content: center;
    margin-top: 50px;
  }
  .become__item {
    flex: 0 0 90%;
  }
  .featured {
    padding-top: 120px;
  }
  .featured-open {
    right: 25px;
  }
  .featured-open span {
    font-size: 20px;
    margin-right: 20px;
  }
  .featured-close .featured-icon, .featured-open .featured-icon {
    width: 25px;
    height: 25px;
  }
  .blog-article__title {
    font-size: 42px;
    line-height: 1.25;
  }
  .blog-article__text {
    margin-bottom: 80px;
    max-width: 100%;
    font-size: 20px;
  }
  .blog-article__link {
    width: 100%;
  }
  .subscribe-form__btn {
    padding: 40px;
    font-size: 14px;
    line-height: 1.25;
  }
  .insp__list {
    grid-auto-rows: minmax(350px, auto);
  }
  .insp__item {
    padding: 20px;
  }
  .insp__text {
    padding: 20px;
  }
  .footer__inner {
    margin-bottom: 70px;
  }
  .footer {
    padding: 50px 0;
  }
  .footer__title {
    font-size: 14px;
  }
  .subs-form__btn {
    padding: 30px;
  }
  .featured {
    padding-bottom: 150px;
  }
  .featured-list__article {
    padding: 16px 0;
  }
  .featured__title {
    font-size: 34px;
  }
  .featured-list {
    margin-top: 30px;
    max-width: 100%;
  }
  .featured-list__item {
    width: 95%;
  }
  .blog-article {
    padding-bottom: 0px;
  }
  .blog-article__title {
    font-size: 36px;
    margin-bottom: 50px;
  }
  .blog-article__text {
    font-size: 14px;
    line-height: 1.25;
  }
  .blog-article__link {
    font-size: 20px;
    padding: 30px;
  }
  .footer {
    padding-bottom: 0;
  }
  .footer__links a {
    font-size: 13px;
  }
}

@media(max-width: 320px) {
  .become__text {
    padding-bottom: 24px;
    padding-left: 14px;
    font-size: 20px;
    line-height: 24px;
  }
}