.slider-container {
  overflow-x: hidden;
  width: 100%;
  padding: 100px 0;
  margin-top: 50px;
}

.featured-videos {
  padding-top: 150px;
  padding-bottom: 100px;
}

.featured-videos__title  {
  margin-bottom: 24px;
}

.featured-videos__descr {
  margin: 0 auto;
  max-width: 650px;
  font-family: 'SFCompactText', sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #788692;
  text-align: center;
}

.swiper-slide {
  position: relative;
  background-color: #e3e3e3;
  border-radius: 8px;
  min-height: 550px;
  width: 890px;
  transition: transform .3s;
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  overflow: hidden;
}

.swiper-slide-active {
  transform: scaleX(1.16) scaleY(1.2);
  transition: transform .3s;
}

.swiper-slide-active::after {
  opacity: 1;
  transition: opacity .3s ease;
}

.swiper-slide-active .slider__title {
  transform: translateY(0);
  transition: transform .3s ease;
}

.swiper-slide::after {
  content: '';
  position: absolute;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 50%, rgba(0, 0, 0, 0.461617) 100%);
  width: 100%;
  height: 60%;
  bottom: 0;
  left: 0;
  opacity: 1;
  transition: opacity .3s ease;
}

.slide-1 {
  background-image: url(../img/slider/slide1.jpg);
}

.slide-2 {
  background-image: url(../img/slider/slide2.jpg);
}

.slide-3 {
  background-image: url(../img/slider/slide3.jpg);
}

.slide-4 {
  background-image: url(../img/slider/slide1.jpg);
}

.slider__title {
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  color: var(--white-color);
  position: relative;
  z-index: 5;
  padding-left: 35px;
  padding-bottom: 30px;
  transform: translateY(200px);
  transition: transform .3s ease;
}

.swiper-slide__btn {
  cursor: pointer;
  position: absolute;
  top: 30px;
  left: 50px;
  z-index: 100;
  align-self: flex-start;
  opacity: 0;
  visibility: hidden;
  transition: opacity .3s ease-in-out;
}

.swiper-slide-active .swiper-slide__btn {
  opacity: 1;
  visibility: visible;
  transition: opacity .3s ease-in-out;
}

.swiper-slide__btn:hover .video-btn {
  fill: var(--accent2);
  transition: fill .3s ease-in-out;

}

.video-btn {
  width: 112px;
  height: 112px;
  fill: var(--accent);
  transition: fill .3s ease-in-out;
}

